.Abt_Wrpr {
    height: fit-content;
}

.Abt_Main {
    background-color: #0f0f0f;
    height: fit-content;
}

.Abt_Mn_Sec1 {
    height: fit-content;
}

.TimelineContainer {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #fff;
    border-radius: 1px;
    border-width: 0px 0px 0px 2px;
}

.TimeLineSegment {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    justify-content:space-around;
    padding-left: 50px;
}


.TimeLineSegment p {
   text-align: justify;
   color: #fff;
   line-height: 25px;
   font-size: 18px;
}
.Timeline {
    position: relative;
}

.Timeline::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translate(-5.5px,25px);
    box-shadow: 1px 1px 5px 10px #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #61dafb;

}