.Contact_Wrpr {
    width: 100%;
    height: fit-content;
}

.Contact {
    --dotsize : 0.25rem;
    --bgSize : 1.35rem;
    --bgPosition : calc(var(--bgSize/2));
    height: 20vh;
    background: radial-gradient(circle at center, black var(--dotsize), transparent 0),radial-gradient(circle at center, black var(--dotsize), transparent 0);
    background-position: 0 0, 0.65rem 0.65rem;
    background-size: var(--bgSize) var(--bgSize) ;
    background-size: var(--bgSize) var(--bgSize);
}