.ContactMnWrpr {
    width: 100%;
    height: fit-content;
}

.ContactMain {
    width: 100%;
    height: fit-content;
    background-color: #0f0f0f;
}

.ContactCntnt {
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    margin: auto;
   
}

fieldset {
    border: 1px solid #fff;
    border-radius: 6px;
}

legend {
    margin: auto;
    color: #61dafb;
    font-size: 21px;
    padding: 50px;
    font-family: 'Press Start 2P';
}

label {
    display: block;
    width: fit-content;
    margin: auto;
   font-size: 15px;
   padding-top: 5px;
  
}

input {
    text-align: center;
    display: block;
    font-family: Ubuntu;
    margin: 5px auto;
    border: 1px solid #fff;
    border-radius: 6px;
    width: 90%;
    height: 25px;
    background-color: #0f0f0f;
    caret-color: #61dafb;
    color: #61dafb;
}

input:focus {
    outline: none;
    border: 1px solid #61dafb;
}

input::placeholder{
    position: absolute;
     color: red;
    margin-left: 50px;
}

textarea {
    width: 90%;
    display: block;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 6px;
    caret-color: #61dafb;
    color: #61dafb;
    background-color: #0f0f0f;
}

textarea:focus {
    outline: none;
    border: 1px solid #61dafb;
}

.hveffect {
    border: 1px solid #fff;
    transition: border 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.hveffect:hover {
    outline: none;
    border: 2px solid #61dafb;
}

