.IntroCmp-Wrpr {
    position: relative;
    height: fit-content;
    width: 100%;  
}

.Section_One {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AnimCntnr {
    width: 750px;
    animation-name: three60;
    animation-timing-function: ease-in-out;
    animation-duration: 125s;
    animation-iteration-count: infinite;
}

.IntrCmp {
    display: flex;
    padding-bottom: 85px;
    flex-direction: row;
    justify-content: space-between;
}

.Section_Two {
    width: 65%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.AnimCntnr2 {
    width: 550px;
}


.p_style {
    color : #fff;
    font-family: 'Zeyada';
    font-weight: bold;
    font-size: calc(20px + 1vmin);
}

.IntroCmp-Wrpr h2 {
    font-size: 20px;
    font-family: 'Press Start 2P';
    color: var(--SecClr);
}

.Section_Three {
    transform: translateY(-155px);
    overflow: hidden;
    width: 35%;
    height: fit-content;
   
}

.AnimCntnr3 {
    width: 650px;
    height: 650px;
}








