.Rocket_Wrpr {
    position: fixed;
    right: 1%;
    bottom: 5%;
    z-index: 1000;
    width: fit-content;
    height: fit-content;
}

.RocketContainer {
    cursor: pointer;
    padding: 8px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
   background-color: #3b8bc8;
   border-style: solid;
   border-color: #61dafb;
    border-radius: 50%;
}
.RocketContainer:hover {
   background-color: transparent;

}

.RocketContainer:active {
    background-color: transparent;
}

@media (max-width: 1200px) {
    
    .RocketContainer {
        padding: 6px;
    }
}

@media (max-width: 768px) {
    
    .RocketContainer {
        padding: 3px;
    }
}