.stars-container {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/0.3;
    transform: translateY(-448px);
  
}

.star {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: fade 6s infinite alternate;
}

.S51 {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    animation: fade2 10s infinite alternate, moveltr 5s linear infinite;


}