.WScase_Wrpr {
    width: 100%;
    height: fit-content;
}

.WScase {
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: #090947;
background-image: linear-gradient(180deg, #0f0f0f 0%, #000 50%,#0f0f0f 100%);

}

.WScase_A h2 {
    font-size: 5vmin;
    color: white;
}

.WScase_A li {
    font-size: 2vmin;
}

.WScase_B {
    padding: 7vmin 0em;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.WScase_B_1 {
    animation-name: shadowToggleb;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    overflow: hidden;
    border-radius: 1em;
    height: 30vmin;
    width: 30vmax;
}

.Sliding_Imgs {
    animation-name: fadeIn;
    animation-duration: 2s;
   
    width: 100%;
    height: 100%;
}

.WScase_B_2 {
    display: flex;
    padding : 4em 0em;
    justify-content: space-around;
}

@media (max-width: 768px) {

    .WScase {
     flex-direction: column;
    }
    
}

